# DB
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/postgres
DATABASE_URL_SYNC=postgresql://postgres:postgres@localhost:5432/postgres

# auth
AUTH_PROVIDER=local

# superuser
SUPERUSER_EMAIL=kuancarlos@mail.ru
SUPERUSER_PASSWORD=admin123

# JWT настройки
JWT_SECRET_KEY=qjdi!kjshu
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# bcrypt
BC_SECRET_KEY=dgadfgeefa
