[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic-settings = "*"
sqlalchemy = "*"
asyncpg = "*"
alembic = "*"
passlib = "*"
python-jose = "*"
pydantic = {extras = ["email"], version = "*"}
python-multipart = "*"
psycopg2 = "*"
fastapi = "*"
uvicorn = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.13"
